<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <title>The Bear and Badger</title>
  <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,200,300,600,700,900' rel='stylesheet' type='text/css'>
  <link href="https://fonts.googleapis.com/css?family=Vollkorn:400,400i,700,700i" rel="stylesheet">

  {{ css('https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css') }}
  {{ css('https://cdn.wysibb.com/css/default/wbbtheme.css') }}
  {{ css('style') }}

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
  <script src="http://cdn.wysibb.com/js/jquery.wysibb.min.js"></script>
</head>
<body>
  <div class="container">
    <div class="row">
      <section class="col page-header">
          @include('layout.header')
      </section>
    </div>
    <div class="row">
      <section class="col-lg-9 col-sm-12 page-content">
          @!section('content')
      </section>
      <section class="col page-sidebar">
        <div class="container">
            @!section('sidebar')
        </div>
      </section>
    </div>
  </div>

  <div class="page-footer">
      @!include('layout.footer')
  </div>

  <script>
  var opts = {
      buttons : "bold,italic,underline,|,img,link,|,fontcolor,|,justifyleft,justifycenter,justifyright,|,quote,table,,code"
  }

  function Post(id, el) {
      var content = el.find('.post-content');
      var editing = el.find('.post-content-edit');

      var editor = el.find('#post-editor-' + id);

      var isEditing = false;

      this.toggleInlineEditor = function() {
          if (isEditing) {
              isEditing = false;

              editing.fadeOut(100, function() {
                  content.fadeIn(100);
              });
          } else {
              isEditing = true;

              content.fadeToggle(100, function() {
                  editing.fadeToggle(100, function() {
                      editor.wysibb(opts)
                  });
              });
          }
      }
  }

  $(function() {
    $("#editor").wysibb(opts);

    var posts = {};

    $('.post').each(function() {
        var el = $(this);
        var id = el.attr('data-id');
        posts[id] = new Post(id, el);
    });

    var toggleInlineEditor = function(e) {
        e.preventDefault();

        var id = $(this).closest('.post').attr('data-id');
        var post = posts[id];

        if (post) {
            post.toggleInlineEditor();
        }
    }

    $('.post-action-edit').on('click', toggleInlineEditor);
    $('.post-edit-cancel').on('click', toggleInlineEditor);
  })
  </script>
</body>
</html>
