<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <title>The Bear and Badger</title>
  <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,200,300,600,700,900' rel='stylesheet' type='text/css'>
  {{ css('https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css') }}
</head>
<body>
  <div class="container">
    <div class="row">
      <section class="col">
          @include('layout.header')
      </section>
    </div>
    <div class="row">
      <section clas="col">
          @!section('content')
      </section>
  </div>
</body>
</html>
