@media (min-width: 1200px) {
    .container {
        max-width: 1260px;
    }
}

.hidden {
    display: none;
}

a {
    transition: color 0.8s;
    text-decoration: none;
    color: #990134;
}

a:hover {
    text-decoration: none;
    color: #db0e53;
}

h1 {
    font-weight: 700;
    font-size: 3rem;
}

h2 {
    font-weight: 700;
    font-size: 2rem;
}

h3 {
    font-weight: 700;
    font-size: 1.4rem;
}

.btn {
    font-weight: bolder;
}

.btn:hover {
    cursor: pointer;
}

.btn-primary {
    background-color: #990134;
    border-color: #990134;
}

.btn-primary:hover {
    background-color: #db0e53;
    border-color: #db0e53;
}

.page-header .navbar {
    background: #990134;
}

.page-header .navbar .nav-link {
    color: #fcfcfc;
    color: rgba(255,255,255,0.8);
    text-transform: uppercase;
    font-weight: bolder;
    font-size: 0.8rem;
}

.page-header .navbar .nav-link:hover {
    color: #ffffff;
}

.page-header .navbar .btn {
    line-height: 0.8rem;
}

.page-header .navbar .btn:hover {
    color: #990134;
}

.page-content, .page-sidebar {
    padding-top: 95px;
}

.page-sidebar-section {
    padding-top: 15px;
    margin-top: 15px;
}

.page-sidebar-section:first-child {
    padding-top: 0px;
    margin-top: 0px;
}

.page-category a {
    padding-left: 5px;
    display: block;
}

.page-category a:hover, .page-categories .selected a {
    background: #fcfcfc;
}

.page-body {
    min-height: 100%;
    padding-bottom: 80px;
    margin-bottom: -80px;
}

.page-footer {
    background: #fcfcfc;
    font-size: 0.9rem;
    color: #888;

    height: 80px;
}

.page-footer-content {
    padding: 35px 0 25px;
}

.thread-post {
    padding-bottom: 45px;
}

.thread-post .new-post-form {
    padding: 10px;
}

ul.listings {
    padding-left: 0;
}

.listing {
    border-bottom: 1px dotted #ccc;
    list-style: none;
}

.listing-alt {
    background-color: #fbfbfb;
}

.listings-major .listing {
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 0;
    margin-top: 0;
}

.listings-minor .listing {
    padding-bottom: 3px;
    margin-bottom: 3px;
}

.thread-listing h5, .thread-listing h6 {
    font-weight: bold;
    font-size: 0.9rem;
}

.thread-listing a {
    color: #222;
}

.thread-listing a:hover {
    color: #990134;
}

.thread-metadata {
    font-size: 0.8em;
    width: 100%;
    color: #888;
}

.thread-metadata .item {
    padding-left: 6px;
    margin-left: 6px;
    border-left: 1px solid #ccc;
}

.thread-metadata .item:first-child {
    padding-left: 0px;
    margin-left: 0px;
    border-left: none;
}

.posts {
    margin: 0;
    padding: 0;
}

.post {
    list-style: none;
    border: none;
    margin-bottom: 10px;
    padding: 10px
}

.post-alt {
    background-color: #fbfbfb;
}

.post-metadata {
    font-size: 0.8em;
}

.post-metadata .post-date, .post-footer .post-date {
    color: #888;
}

.post-metadata .post-action {
    padding-left: 6px;
    margin-left: 6px;
    border-left: 1px solid #ccc;
}

.post-footer {
    border-top: 1px solid #eee;
    padding-top: 5px;
    margin-top: 10px;
    font-size:0.7rem;
}

.post-content, .wysibb-text {
    font-family: 'Vollkorn', serif;
    letter-spacing: 0.03em;
    line-height: 1.6em;
}

.wysibb-text-editor {
    font-size: 1rem;
}

.post-content a {
    text-decoration: underline;
}

.post-content a:hover {
    text-decoration: underline;
}

.post-content img {
    max-width: 100%;
}

.post-content-edit {

}

.post-content-edit .post-edit-cancel {
    font-size: 0.8em;
    color: #888;
}

.post-content-edit .post-edit-cancel:hover {
    color: #990134;
}

.user-details .listing {
    padding-top: 5px;
}

.user-details .listing a {
    color: #222;
}

.user-details .listing a:hover {
    color: #990134;
}

.user-name {
    font-size: 0.9em;
    font-weight: bold;
}

.user-name, .user-name a {
    color: #888;
    text-decoration: none;
}

.username:hover, .user-name a:hover, .post:hover .user-name, .post:hover .user-name a {
    color: #222;
}

.chat-subheading {

}

.chat-subheading h4 {
    font-weight: bold;
    font-size: 1.2rem;
    color: #888;
}

.chat-participants {
    list-style: none;
    padding-left: 0;
}

.chat-participant {
    font-weight: bold;
}

.chat-participant a {
    color: #333;
}

.chat-participant a:hover {
    color: #990134;
}

.chat-content {
    padding-top: 0;
}

.chat-body {
    margin-top: 15px;
}

.listings-major .message-listing {
    padding-top: 15px;
}

.pagination {

}

.pagination .pagination-spacer:hover {
    cursor: default;
}

.pagination .pagination-item {
    color: #888888;
}

.pagination .pagination-item a {
    padding: 4px;
    margin: 0 2px;
    color: #888888;
}

.pagination .selected a {
    font-weight: bolder;
    color: #990134;
}

.pagination .pagination-item a:hover {
    color: #990134;
}

.dropdown-menu {
    padding: 0 .5rem;
    font-size: 0.8rem;
}

.dropdown-menu::before {
    width: 0;
    height: 0;
    border-left: 5px solid #ccc;
    border-right: 5px solid #ccc;
    border-bottom: 5px solid #fff;
}

.dropdown-menu .listings {
    margin-bottom : 0;
}

.dropdown-menu .listing:last-child {
    border-bottom: none;
}
