<h6>Page {{curr}} of {{max}}</h6>
<nav aria-label="Page navigation example">
  <ul class="pagination">
    @if(curr > 1)
      <li class="page-item">{{linkTo(link, 'Prev', { page : curr - 1, id : id }) }}</li>
    @endif
    @if(curr < max)
      <li class="page-item">{{linkTo(link, 'Next', { page : curr + 1, id : id }) }}</li>
    @endif
  </ul>
</nav>
